@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body>
            <div class="page">
                <div class="page-title"><h3>At A Glance</h3></div>
                <div class="page-bottom">&nbsp;</div>
                <div class="page-body">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>Official name of the University :</td>
                                <td>Daffodil International University</td>
                            </tr>
                            <tr>
                                <td>Year of establishment :</td>
                                <td>2002 With the approval of UGC and Ministry of Education, Bangladesh</td>
                            </tr>
                            <tr>
                                <td>Campus buildings and locations :</td>
                                <td>
                                    <ol>
                                        <li>102 Shukrabad, Mirpur Road, Dhanmondi, Dhaka-1207 <br>(Main Campus And Administrative Building)</li>
                                        <li>102/1 Shukrabad, Mirpur Road, Dhanmondi, Dhaka-1207</li>
                                        <li>4/2 Sobhanbag, Mirpur Road, Dhaka-1207</li>
                                        <li>H # 07, R#014, Dhanmondi, Dhaka-1205</li>
                                        <li>3/3, Block-A, Lalmatia, Dhaka-1207</li>
                                        <li>H # 04, R # 07, Sector#03, Uttara, Dhaka-1230</li>
                                        <li>House # 06, Road # 07, Sector # 03, Uttara Model Town, <br>Dhaka-1230</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>Land for permanent campus :</td>
                                <td>
                                    80 Acre (appx.)<br>
                                    <ol>
                                        <li>Near Dhaka-Chittagong Highway</li>
                                        <li>At Bashundhara Baridhara Project, Dhaka.</li>
                                        <li>At Chowbaria, Savar, Dhaka</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>Faculties :</td>
                                <td>
                                    <ol>
                                        <li>Faculty of Science and Information Technology</li>
                                        <li>Faculty of Engineering</li>
                                        <li>Faculty of Business and Economics</li>
                                        <li>Faculty of Humanities and Social Science</li>
                                        <li>Faculty of Allied Health Science</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>Departments :</td>
                                <td>
                                    <ol>
                                        <li>Department of Commerce</li>
                                        <li>Department of Business Administration</li>
                                        <li>Department of Real Estate</li>
                                        <li>Department of Journalism & Mass Communication</li>
                                        <li>Department of English</li>
                                        <li>Department of Law</li>
                                        <li>Department of Computer Science & Engineering</li>
                                        <li>Department of Computer Science</li>
                                        <li>Department of Textile Engineering</li>
                                        <li>Department of Electronic & Telecommunication Engineering</li>
                                        <li>Department of Environmental Science and Disaster Management</li>
                                        <li>Department of Architecture</li>
                                        <li>Department of Public Health</li>
                                        <li>Department of Pharmacy</li>
                                        <li>Department of Nutrition & Food Engineering</li>
                                        <li>Department of Electrical & Electronic Engineering</li>
                                        <li>Department of Software Engineering</li>
                                        <li>Department of Multimedia & Creative Technology (MCT)</li>
                                        <li>Department of General Educational Development (GED)</li>
                                        <li>Tourism & Hospitality Management</li>
                                        <li>Department of Entrepreneurship</li>
                                        <li>Department of Civil Engineering</li>
                                        <li>Department of Information Science and Library Management</li>
                                        <li>Department of Development Studies</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>Institute :</td>
                                <td>Human Resource Development Institute (HRD Institute)<br>Daffodil Institute of languages (DIL)</td>
                            </tr>
                            <tr>
                                <td>Programs :</td>
                                <td>
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Undergraduate & Masters</td>
                                                <td>: 31</td>
                                            </tr>
                                            <tr>
                                                <td>International IT Programs</td>
                                                <td>: 06</td>
                                            </tr>
                                            <tr>
                                                <td>Proposed Programs</td>
                                                <td>: 09</td>
                                            </tr>
                                            <tr>
                                                <td>Short Courses</td>
                                                <td>: 05</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>International collaborations :</td>
                                <td>
                                    <ol>
                                        <li>USA</li>
                                        <li>UK</li>
                                        <li>New Zealand</li>
                                        <li>Ireland</li>
                                        <li>Australia</li>
                                        <li>Malaysia</li>
                                        <li>Sweden</li>
                                        <li>Hungary</li>
                                        <li>Paraguay</li>
                                        <li>China</li>
                                        <li>India</li>
                                        <li>Korea</li>
                                        <li>Philippines</li>
                                        <li>Iraq</li>
                                        <li>Indonesia</li>
                                        <li>Vietnam</li>
                                        <li>Cambodia</li>
                                        <li>Palestine</li>
                                        <li>Turkey</li>
                                        <li>Thailand</li>
                                        <li>Mongolia</li>
                                        <li>Iran</li>
                                        <li>Japan</li>
                                        <li>France</li>
                                        <li>Czech Republic</li>
                                        <li>Taiwan</li>
                                        <li>Spain</li>
                                        <li>Chile</li>
                                        <li>Netherlands</li>
                                        <li>Russia</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>International <br>Affiliation :</td>
                                <td>Asian University Presidents Forum (AUPF), <br>International Association of University Presidents (IAUP), <br>International Association of University (IAU), <br>United Nations Academic Impact (UNAI)<br>Institute of International Education (IIE)<br>Eurasian Silk Road Universities Consortium (ESRUC)<br>Institute of Electrical and Electronics Engineers (IEEE)<br>American Chamber of Commerce & Industry (AmCham)<br>International Software Testing Qualifications Board (ISTQB) <br>Association of Training Institutions for Foreign Trade in Asia and the Pacific (ATIFTAP)<br>Council of Economic Advisers (CEA)<br>Turkey-Bangladesh Chamber of Commerce & Industry (TBCCI)<br>American Library Association (ALA)<br>Asia-Pacific University - Community Engagement Network (APUCEN)<br>Global Access Asia (GAA)<br>Association of International Educators (NAFSA)<br>The Global Universities Partnership on Environment for Sustainability (GUPES), <br>Child & Youth Finance International (CYFI)<br>Kauffman Foundation</td>
                            </tr>
                            <tr>
                                <td>Admission session :</td>
                                <td>
                                    <ul>
                                        <li>Tri-Semester: Spring, Summer, Fall</li>
                                        <li>Bi-Semester: Spring, Fall</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Scholarship and waiver status :</td>
                                <td>3000 Students</td>
                            </tr>
                            <tr>
                                <td>Faculty members :</td>
                                <td>
                                    <ul>
                                        <li>320 faculty members (full time)</li>
                                        <li>110 faculty members (part time)</li>
                                        <li>41 (On Study Leave)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Officials :</td>
                                <td>165 Officials, 250 outsourcing staff</td>
                            </tr>
                            <tr>
                                <td>Supporting Staff :</td>
                                <td>250 staff</td>
                            </tr>
                            <tr>
                                <td>Lecture Theatre &Class rooms :</td>
                                <td>250 class rooms, including modern theater</td>
                            </tr>
                            <tr>
                                <td>Digital Amenities :</td>
                                <td>
                                    <ul>
                                        <li>One Student One Laptop</li>
                                        <li>Google Classroom</li>
                                        <li>ISP</li>
                                        <li>Informative website</li>
                                        <li>Education ERP</li>
                                        <li>Virtual University System</li>
                                        <li>DIU Forum</li>
                                        <li>Blog</li>
                                        <li>E-Library</li>
                                        <li>Broadband Internet</li>
                                        <li>Wi-Fi facilities</li>
                                        <li>Digital smart classroom</li>
                                        <li>Internet Radio</li>
                                        <li>Online TV</li>
                                        <li>Data Center</li>
                                        <li>DIU Apps</li>
                                        <li>Hostel Booking System</li>
                                        <li>One Card Solution</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Ranking / Award :</td>
                                <td>
                                    <ul>
                                        <li>Top Graded University, Ranking of Private Universities, Published by Swedish National Agency for Higher Education;</li>
                                        <li>A Grade University done by Bangladesh Govt. High powered Committee in 2006</li>
                                        <li>2nd Position in Private & 5th position among all the public and private universities by "Webometrics Ranking of World Universities"</li>
                                        <li>3rd position in Research and Publications among all the private universities of Bangladesh</li>
                                        <li>Best Private University in Web Popularity by <a href="http://www.alexa.com/">http://www.alexa.com/</a> & <a href="http://www.4icu.org/bd/">http://www.4icu.org/bd/</a></li>
                                        <li>Beautification Award 2006 presented by the Honorable Prime Minister</li>
                                        <li>President’s Crest</li>
                                        <li>Merit Award in WITSA 2014 Global ICT Excellence Awards by  the largest international ICT organization, World Information Technology and Services Alliance (WITSA)</li>
                                        <li>AHR Award, UK</li>
                                        <li>NAHE, Sweden</li>
                                        <li>World Quality Commitment (WQC) Award-2010</li>
                                        <li>Asia’s Best Business School Award</li>
                                        <li>Amity Global Academic Excellence Award</li>
                                        <li>Golden Star Academic & Educational Excellence Award</li>
                                        <li>Asia's most inspiring Nation Builder Award</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Full equipped laboratories :</td>
                                <td>45 no. of well equipped laboratories</td>
                            </tr>
                            <tr>
                                <td>Library :</td>
                                <td>
                                    <ul>
                                        <li>6 storied separate central library building</li>
                                        <li>Uttara campus library</li>
                                        <li>Permanent Campus Library</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Central exam control section :</td>
                                <td>4 storied separate central exam control building besides main campus</td>
                            </tr>
                            <tr>
                                <td>International standard auditorium :</td>
                                <td>500 seat capacity with digital sound and remote controlled multimedia system &#40;City Campus&#41;<br>60000 seat capacity (Permanent Campus)</td>
                            </tr>
                            <tr>
                                <td>Seminar hall :</td>
                                <td>50 seated mini hall with removable sound with multimedia system, electronic writing board<br>Conference Halls<br>Banquet Hall</td>
                            </tr>
                            <tr>
                                <td>Canteens :</td>
                                <td>
                                    <ol>
                                        <li>One for the Students under the Faculty of SIT</li>
                                        <li>One for the Students under the Faculty of BE</li>
                                        <li>Permanent Campus</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>Female hostel :</td>
                                <td>(1) Located at 4, Tallabag, Dhanmodi & (2) at Uttara (3) Permanent Campus</td>
                            </tr>
                            <tr>
                                <td>No. of clubs and alliances :</td>
                                <td>
                                    <ul>
                                        <li>Business & Education Club (BEC)</li>
                                        <li>Cultural Club (CC)</li>
                                        <li>Debating Club (DC)</li>
                                        <li>Social Business Students’ Forum (SBSF)</li>
                                        <li>English Literary Club (ELC)</li>
                                        <li>Computer and Programming Club (CPC)</li>
                                        <li>Sports Club (SC)</li>
                                        <li>Photographic Society</li>
                                        <li>Daffodil Prothom- Alo BondhuShova</li>
                                        <li>Nature Study Club (NSC)</li>
                                        <li>Health Club (HC)</li>
                                        <li>Communication Club</li>
                                        <li>Amardesh Pathak Forum</li>
                                        <li>Daffodil Moot Court Society (DMCS)</li>
                                        <li>Textile Club,</li>
                                        <li>Creative Park (MCT),</li>
                                        <li>Software Engineering, Voluntary Service Club,</li>
                                        <li>Air Rover Wing,</li>
                                        <li>School of Entrepreneurs,</li>
                                        <li>Robotics Club,</li>
                                        <li>All Stars Daffodil, (Adventure Club; upcoming),</li>
                                        <li>MUNA (Model United Nations Association),</li>
                                        <li>Real Estate Association, etc</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td> Events Calendar :</td>
                                <td>
                                    <ul>
                                        <li>Photo Exhibitions</li>
                                        <li>Business Fairs</li>
                                        <li>Software Fairs</li>
                                        <li>Food Festivals</li>
                                        <li>Quiz</li>
                                        <li>Book Reading</li>
                                        <li>Creativity Competitions</li>
                                        <li>Science Fair</li>
                                        <li>Project Fairs</li>
                                        <li>Programming Contests, etc</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Scouting :</td>
                                <td>
                                    <ul>
                                        <li>DIU Air Rover Unit</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Research centers :</td>
                                <td>(i) Research Center for Business and Economics, <br>(ii) Research Center for Science & Information Technology, <br>(iii) Research Center for Humanities & Social Sciences,<br>(iv) Research Center for Allied Health Science, and <br>(v) Bureau of Business and Economics Research</td>
                            </tr>
                            <tr>
                                <td>Career Development Center :</td>
                                <td>A range of free services includes career counseling, skills and liaison with the industries and business institutions for contractual employment generation for DIU students</td>
                            </tr>
                            <tr>
                                <td>Directorate of Student Affairs (DSA) :</td>
                                <td>It has been set up to play role in the development and growth of students in co-curricular activities.</td>
                            </tr>
                            <tr>
                                <td>Entrepreneurship :</td>
                                <td>Entrepreneurship is a key driver of our economy. DIU intends to focus on Entrepreneurial education initiatives to make a poverty free self sufficient society and set up venture capital education, business incubator, business Startup, apart from Entrepreneurship department.<strong><br></strong></td>
                            </tr>
                            <tr>
                                <td>International standard auditorium :</td>
                                <td>500 seat capacity with digital sound and remote controlled multimedia system &#40;City Campus&#41;<br>6000 seat capacity (Permanent Campus)</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Note:  If any more query please mail at <a href="mailto:web@daffodilvarsity.edu.bd">web@daffodilvarsity.edu.bd</a></p>
                </div>
            </div>
</body>