@{
    ViewBag.Title = "Contact";
}

<div class="page">
    <div class="page-title"><h3>Campus Contact</h3></div>
    <div class="page-bottom">&nbsp;</div>
    <div class="page-body">
        <table class="table table-bordered table-condenced">
            <tbody>
                <tr>
                    <td>
                        <p align="center"><strong>Campus</strong></p>
                    </td>
                    <td>
                        <p align="center"><strong>Contact Information</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p align="center"><strong>Permanent Campus</strong></p>
                    </td>
                    <td>
                        <p align="center">Daffodil International University Permanent Campus<br> Ashulia Model Town, Dattapara, Ashulia, Savar, Dhaka<br> Cell: 01833-102806, 01847-140068<br> E-mail: <a href="mailto:info@daffodilvarsity.edu.bd">info@daffodilvarsity.edu.bd</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p align="center"><strong>Main Campus</strong></p>
                    </td>
                    <td>
                        <p align="center">Daffodil Tower<br>4/2, Sobhanbag, Mirpur Road, Dhanmondi, Dhaka-1207<br> E-mail: <a href="mailto:info@daffodilvarsity.edu.bd">info@daffodilvarsity.edu.bd</a><br> Phone: +88 48111639, 48111670, 9128705, 9132634<br>Fax: 88-02-9131947</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p align="center"><strong>Uttara Campus</strong></p>
                    </td>
                    <td>
                        <p align="center">House # 04 & 06, Road # 07, Sector # 03, Uttara Model Town, Uttara, Dhaka<br> Phone: +88 02 8922660, 8922010, 8922710, 8956772<br> Cell:  01811-458841, 01713-493141<br> E-mail: <a href="mailto:info@daffodilvarsity.edu.bd">info@daffodilvarsity.edu.bd</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p> </p>
    </div>
</div>   